<h4 class="text-center">Registre-se e mostre seu pet ao mundo!</h4>
<form class="form mt-4" [formGroup]="novoUsuarioForm" (submit)="cadastrar()">
    <div class="form-group">
        <input placeholder="E-mail" class="form-control" formControlName="email">
        <app-mensagem 
        *ngIf="
            novoUsuarioForm.get('email')?.errors?.['required'] &&
            novoUsuarioForm.get('email')?.touched
        " 
        mensagem="Email obrigatório"
        ></app-mensagem>
        <app-mensagem 
        *ngIf="
            novoUsuarioForm.get('email')?.errors?.['email'] &&
            novoUsuarioForm.get('email')?.touched
        "
        mensagem="Email no formato incorreto"
        ></app-mensagem>
    </div>
    <div class="form-group">
        <input placeholder="Nome Completo" class="form-control" formControlName="fullName">
        <app-mensagem 
        *ngIf="
            novoUsuarioForm.get('fullName')?.errors &&
            novoUsuarioForm.get('fullName')?.touched
        " 
        mensagem="Nome Completo no formato incorreto"
        ></app-mensagem>
    </div>
    <div class="form-group">
        <input placeholder="Usuário" class="form-control" formControlName="userName">
        <app-mensagem 
        *ngIf="
            novoUsuarioForm.get('userName')?.errors?.['minusculo'] &&
            novoUsuarioForm.get('userName')?.touched
        " 
        mensagem="Usuário deve ser em letra minúscula"
        ></app-mensagem>
        <app-mensagem 
        *ngIf="
            novoUsuarioForm.get('userName')?.errors?.['usuarioExistente'] &&
            novoUsuarioForm.get('userName')?.touched
        " 
        mensagem="Usuário já existe"
        ></app-mensagem>
    </div>
    <div class="form-group">
        <input type="password" placeholder="Senha" class="form-control" formControlName="password">
        <app-mensagem 
        *ngIf="
            novoUsuarioForm.get('password')?.errors?.['invalidStartWith']
        "
        mensagem="Senha no formato incorreto"
        ></app-mensagem>
        <app-mensagem
        *ngIf="novoUsuarioForm.errors?.['senhaIgualUsuario']"
            mensagem="Senha deve ser diferente do usuário"
        >
        </app-mensagem>
    </div>
    <button class="btn btn-primary btn-block">Cadastrar</button>
</form>
<p>Já possui conta? <a [routerLink]="['']">Faça o login</a></p>